<!DOCTYPE html>
<html>
<head>
<title>Bowel Sounds Analysis - Warsaw University of Technology</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

This website provides a simple interface for medical practitioners who need to analyze intestinal acoustic activity.
Please upload a file for analysis and click 'Download' to download the results.

<h1>Bowel sound analysis</h1>
<p>Click on the "Choose File" button to upload a file:</p>

<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".wav"><br>
    <input type="submit" value="Upload File to Server">
</form>

<div class="progress">
    <div class="bar"></div >
    <div class="percent">0%</div >
</div>
<br>
<a href="{{ url_for('download') }}"><button id="download" disabled>Download</button></a><br>
<br>
<div id="status"></div>

<br/><br/><br/><br/><br/>
<center>Warsaw University of Technology<br/>
Jakub Ficek, Kacper Radzikowski, Prof. Robert Nowak</center>
</body>
</html>
